<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AppName</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <roms-root></roms-root>
    <script type="text/javascript" src="~/dist/appName/runtime.js"></script>
    <script type="text/javascript" src="~/dist/appName/polyfills.js"></script>
    <script type="text/javascript" src="~/dist/appName/styles.js"></script>
    <script type="text/javascript" src="~/dist/appName/vendor.js"></script>
    <script type="text/javascript" src="~/dist/appName/main.js"></script>
  </body>
  </html>
@*<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppName</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="~/dist/appName/styles.3ff695c00d717f2d2a11.css">
</head>
<body>
  <roms-root></roms-root>
  <script type="text/javascript" src="~/dist/appName/runtime.a66f828dca56eeb90e02.js"></script>
  <script type="text/javascript" src="~/dist/appName/polyfills.7fb637d055581aa28d51.js"></script>
  <script type="text/javascript" src="~/dist/appName/main.57cee596349a63a15405.js"></script>
</body>
</html>*@
